header {
    width: 100%;
    padding: 15px 10px 10px;
    position: absolute;
    top: 0;
    left: 0;
}

header .row {
    width: 1440px;
    justify-content: space-between;
}

header .logo img {
    width: 100px;
    border-radius: 50%;
}

/* header .menu ion-icon.md.hydrated {
    font-size: 35px;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.3s;
}

header .menu ion-icon.md.hydrated:hover {
    color: var(--accent-color);
    transform: rotate(180deg); 
} */

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 35px;
    height: 25px;
    cursor: pointer;
    transition: 0.3s; 
  }
  
  .bar {
    width: 100%;
    height: 4px;
    background-color: var(--white-color);
    border-radius: 2px;
    transition: 0.3s ; 
  }
  
  .hamburger:hover .bar {
    background-color: var(--accent-color); 
  }
  

  .hamburger .bar:nth-child(2) {
    width: 80%;
    transition: 0.3s;
    transform: translateX(10px);
  }

  .hamburger:hover .bar:nth-child(2) {
    width: 100%;
    transform: translateX(0px);
  }
  
