/* Large desktops (1600px and above) */
@media (max-width: 1600px) {
    .about .container .col p {
        font-size: 40px;
    }
}

/* laptops */
@media (max-width: 1400px) {
    .hero h1 {
        font-size: 120px;
        line-height: 120px;
    }

    .about .container .col p {
        font-size: 30px;
    }

    .counter-box .counter {
        font-size: 60px;
        line-height: 60px;
    }

    .counter-box .label {
        font-size: 26px;
    }
}

/* Small desktops */
@media (max-width: 1200px) {
    .hero .bg-hero {
        width: 30vw;
    }

    .hero h1 {
        flex-wrap: wrap;
        font-size: 100px;
        line-height: 100px;
    }

    .about .container .col p {
        font-size: 30px;
    }

    .counter-box .counter {
        font-size: 60px;
        line-height: 60px;
    }

    .counter-box .label {
        font-size: 22px;
    }
}

/* Tablets */
@media (max-width: 992px) {
    .side-content {
        width: 80%;
    }

    header .logo {
        width: 50%;
    }

    header .header-btn {
        width: 50%;
    }

    header .menu {
        display: none;
    }

    .hero h1 {
        gap: 20px;
    }

    .side-btn {
        bottom: 50px;
    }

    .counter-section .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-section .container {
        flex-direction: column;
        padding: 10px 30px;
    }

    .project-section .col:nth-child(1) {
        width: 100%;
        padding: 10px;
    }

    .project-section .col:nth-child(2) {
        width: 100%;
    }

}

/* Mobile */
@media (max-width: 768px) {

    .custom-cursor,
    .custom-cursor-circle {
        display: none;
    }

    .preloader .container {
        flex-wrap: wrap;
        gap: 50px;
    }

    .preloader .text-preloader {
        width: 100%;
        font-size: 24px;
        font-weight: 400;
    }

    .preloader .text-preloader p {
        font-size: 24px;
        display: none;
    }

    .preloader .percentage {
        width: 100%;
    }

    .hero .bg-hero {
        width: 50vw;
    }

    .side-content {
        width: 100%;
        left: 0;
    }

    .side-content h3 {
        font-size: 24px;
    }

    .side-content p {
        font-size: 18px;
    }

    .side-btn {
        bottom: 90px;
    }

    .side-btn svg {
        width: 150px;
        height: 150px;
    }

    .side-btn text {
        font-size: 19px;
        fill: var(--text-color);
    }

    .side-btn img {
        width: 70px;
    }

    .image-wrap {
        height: 80vh;
    }

    .image-wrap img {
        height: 180%;
    }

    .about .container {
        flex-direction: column;
    }

    .about .container .col p {
        font-size: 30px;
    }

    .counter-box .counter {
        font-size: 40px;
        line-height: 40px;
    }

    .counter-box .label {
        font-size: 20px;
    }

    .scrolling-text .rail h4 {
        font-size: 40px;
    }

    .project-section .container {
        flex-direction: column;
        padding: 10px 20px;
    }

    .project-section .col:nth-child(1) h2 {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 500px) {

    .popup-content {
        width: 100%;
        margin: 5px;
    }

    .popup-content h2 {
        font-size: 30px;
    }

    .cta {
        font-size: 14px;
        padding: 8px 5px 8px 10px;
        gap: 5px;
    }

    .cta ion-icon.md.hydrated {
        font-size: 14px;
        padding: 5px;
    }

    .btn-caption {
        height: 18px;
    }

    .preloader .text-preloader p {
        font-size: 18px;
    }

    .preloader .percentage {
        font-size: 60px;
        line-height: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
    }

    header .logo img {
        width: 60px;
    }

    .hero {
        height: 90vh;
    }

    .hero h1 {
        font-size: 60px;
        line-height: 50px;
        letter-spacing: -1px;
    }

    .side-content h3 {
        font-size: 24px;
    }

    .side-content p {
        font-size: 18px;
    }

    .side-btn {
        display: none;
    }

    .side-btn img {
        width: 50px;
    }

    .side-btn svg {
        width: 120px;
        height: 120px;
    }

    .image-wrap {
        height: 60vh;
    }

    .image-wrap img {
        height: 180%;
    }

    .about .container .col h3 {
        font-size: 24px;
    }

    .about .container .col p {
        font-size: 18px;
    }

    .counter-section .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .counter-box {
        padding: 30px 15px;
    }

    .counter-box .counter {
        font-size: 30px;
        line-height: 30px;
    }

    .counter-box .label {
        font-size: 14px;
    }

    .scrolling-text .rail h4 {
        font-size: 30px;
    }
    .project-section {
        padding-top: 30px;
    }

    .project-section .container {
        flex-direction: column;
        padding: 0;
    }
    .project-section .col:nth-child(1) h2 {
        font-size: 35px;
        line-height: 35px;
    }

    .project-section .col:nth-child(1) p {
        font-size: 16px;
    }
    .projects {
        gap: 30px;
    }
    .projects .prj-img {
        height: 50vh;
    }
     .projects .prj-img .categories {
        bottom: 15px;
        left: 15px;
     }
    .projects .prj-img .categories span {
        font-size: 13px;
        padding: 8px 10px;
    }
    .projects .prj-title h3 {
        font-size: 26px;
    }

    .projects .prj-title p {
        font-size: 16px;
    }

}