@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap');


:root {
    --primary-color: #00a9f2;
    --secondary-color: #b946fc;
    --text-color: #ffffff;
    --bg: #0B0B0B;
    --gradient: linear-gradient(90deg, #00a9f2 0%, #b946fc 100%);
    /* Accent */
    --accent-color: transparent;
    --accent-hover: transparent;
    --accent-text-color: #ffffff;
    --accent-text-hover: #000000;
    /* Base Colors */
    --white-color: #ffffff;
    --black-color: #000000;

    /* Fonts */
    --heading-font: 'Righteous', sans-serif;
    --body-font: 'Funnel Display', sans-serif;

    /* Max Width */
    --max-width: 1600px;
    --padding-60: 60px 15px;
    --padding-30: 30px 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::selection {
    color: var(--bg);
    background: var(--primary-color);
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00a9f2 0%, #b946fc 100%);
    border-radius: 50px;
}

/* Scroll bar end */

/* Base Styles */
body {
    background: var(--bg);
    color: var(--text-color);
    font-family: var(--body-font);
    transition: background 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 500;
}

p {
    font-size: 22px;
}

/* Links */
a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: var(--primary-color);
}

/* Buttons */
button,
.cta {
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    background: var(--gradient);
    color: var(--accent-text-color);
    /* border: 1px solid var(--accent-text-color); */
    transition: all 0.3s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--body-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    backdrop-filter: blur(20px);
    position: relative;
}

button:hover,
.cta:hover {
    /* background: var(--accent-hover); */
    color: var(--accent-text);
}

.btn-caption {
    height: 23px;
    overflow: hidden;
}

.cta .btn-text {
    display: flex;
}


.cta ion-icon.md.hydrated {
    transform: rotate(-45deg);
    transition: 0.3s;
    font-size: 20px;
}

.cta .arrow-wrap {
    display: flex;
    position: relative;
    overflow: hidden;
}

.cta .arrow-wrap .btn-arrow:last-child {
    position: absolute;
    left: -20px;
    top: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gradient-text {
    color: transparent !important;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
}

.under-construction {
    padding: 30px 10px;
    width: 100%;
}

.under-construction .container {
    width: var(--max-width);
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: var(--gradient);
    padding: 30px;
    border-radius: 50px;
}

.under-construction h2 {
    font-size: 50px;
    text-align: center;
}

.under-construction img {
    width: 300px;
}

@media (max-width: 1600px) {
    :root {
        --max-width: 100%;
    }
}

@media (max-width: 500px) {
    :root {
       --padding-60: 30px 15px;
    }
}