@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Righteous&display=swap');

@font-face {
  font-family: "Grand Slang";
  src: url("../fonts/GrandSlang/GrandSlang-Roman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
    --primary-color: #00a9f2;
    --secondary-color: #131313;
    --text-color: #ffffff;
    --bg: #0B0B0B;
    /* Accent */
    --accent-color: #ffffff;
    --accent-hover: #ffffff;
    --accent-text-color: #000000;
    --accent-text-hover: #000000;
    /* Base Colors */
    --white-color: #ffffff;
    --black-color: #000000;

    /* Fonts */
    --heading-font: 'Grand Slang', sans-serif;
    --body-font: 'Funnel Display', sans-serif;

    /* Max Width */
    --max-width: 1600px;
    --padding-large: 80px 15px;
    --padding-small: 30px 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::selection {
    color: var(--bg);
    background: var(--primary-color);
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000000;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 50px;
}

/* Scroll bar end */

/* Base Styles */
body {
    background: var(--bg);
    color: var(--text-color);
    font-family: var(--body-font);
    transition: background 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 500;
}

p {
    font-size: 22px;
}

/* Links */
a {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: var(--primary-color);
}

/* Buttons */
button,
.cta {
    border: none;
    padding: 8px 10px 8px 20px;
    border-radius: 50px;
    background: var(--accent-color);
    color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    transition: all 0.3s;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--body-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    backdrop-filter: blur(20px);
    position: relative;
}

button:hover,
.cta:hover {
    background: var(--accent-hover);
    color: var(--accent-text-color);
}

.btn-caption {
    height: 22px;
    overflow: hidden;
}

.cta .btn-text {
    display: flex;
}


.cta .arrow-wrap {
    display: flex;
    position: relative;
    overflow: hidden;
    background: var(--black-color);
    border-radius: 50%;
    color: var(--accent-color);
}

.cta ion-icon.md.hydrated {
    transform: rotate(-45deg);
    transition: 0.3s;
    font-size: 20px;
    padding: 8px;
}

.cta .arrow-wrap .btn-arrow:last-child {
    position: absolute;
    left: -30px;
    top: 30px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.under-construction {
    padding: 30px 10px;
    width: 100%;
}


/* Cursor */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 0;
}

.custom-cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 100px;
    z-index: 9999;
    opacity: 0;
    mix-blend-mode: difference;
}

/* Cursor End */


.under-construction .container {
    width: var(--max-width);
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: var(--primary-color);
    padding: 30px;
    border-radius: 50px;
}

.under-construction h2 {
    font-size: 50px;
    text-align: center;
}

.under-construction img {
    width: 300px;
}

@media (max-width: 1600px) {
    :root {
        --max-width: 100%;
    }
}

@media (max-width: 500px) {
    :root {
       --padding-large: 30px 15px;
    }
}

